body {
    background-color: rgb(238, 241, 241);
}
.container-1 {
    width: '60%';
    border: 1px solid black;
    margin: auto;
    padding: 2rem;
}
.container-2 {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.resumen {
    width: 10rem;
}
.display-info {
    width: 30rem;
    border: 1px solid red;
    margin-right: 3rem;
    
    & {
        .span-1 {
            margin: 1rem;
        }
    }

    & li .span-line,  button {
        margin-left: 1rem;
    }

    & li input {
        margin-left: 7rem;
    }
}